@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* App */
    --background: 204 100% 99%;
    --foreground: 211 52% 25%;

    /* Cards */
    --card: 0 0% 100%;
    --card-foreground: 211 52% 25%;

    /* Popovers */
    --popover: 0 0% 100%;
    --popover-foreground: 211 52% 25%;

    /* Brand */
    --primary: 202 100% 72%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 100% 92%;
    --secondary-foreground: 211 52% 25%;

    /* Muted */
    --muted: 201 100% 97%;
    --muted-foreground: 209 25% 54%;

    /* Accent */
    --accent: 203 100% 96%;
    --accent-foreground: 211 52% 25%;

    /* Destructive */
    --destructive: 347 100% 93%;
    --destructive-foreground: 341 100% 32%;

    /* Borders */
    --border: 205 78% 92%;
    --input: 205 78% 92%;
    --ring: 202 100% 75%;

    /* Charts */
    --chart-1: 202 100% 72%;
    --chart-2: 199 100% 78%;
    --chart-3: 202 85% 62%;
    --chart-4: 199 100% 86%;
    --chart-5: 207 67% 52%;

    --radius: 1rem;

    /* Sidebar */
    --sidebar: 204 100% 98%;
    --sidebar-foreground: 211 52% 25%;

    --sidebar-primary: 202 100% 72%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 203 100% 95%;
    --sidebar-accent-foreground: 211 52% 25%;

    --sidebar-border: 205 78% 92%;
    --sidebar-ring: 202 100% 75%;
  }

  .dark {
    --background: 215 28% 13%;
    --foreground: 210 100% 98%;

    --card: 214 28% 17%;
    --card-foreground: 210 100% 98%;

    --popover: 214 28% 17%;
    --popover-foreground: 210 100% 98%;

    --primary: 202 100% 74%;
    --primary-foreground: 214 40% 15%;

    --secondary: 211 33% 20%;
    --secondary-foreground: 210 100% 98%;

    --muted: 211 33% 20%;
    --muted-foreground: 207 39% 76%;

    --accent: 211 33% 20%;
    --accent-foreground: 210 100% 98%;

    --destructive: 347 100% 73%;
    --destructive-foreground: 0 0% 100%;

    --border: 211 28% 26%;
    --input: 211 28% 26%;
    --ring: 202 100% 74%;

    --chart-1: 202 100% 72%;
    --chart-2: 199 100% 78%;
    --chart-3: 202 85% 62%;
    --chart-4: 199 100% 86%;
    --chart-5: 207 67% 52%;

    --sidebar: 214 28% 17%;
    --sidebar-foreground: 210 100% 98%;

    --sidebar-primary: 202 100% 74%;
    --sidebar-primary-foreground: 214 40% 15%;

    --sidebar-accent: 211 33% 20%;
    --sidebar-accent-foreground: 210 100% 98%;

    --sidebar-border: 211 28% 26%;
    --sidebar-ring: 202 100% 74%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }
}